.App {
    --header_height: 60px;
}

.hw {

}

.hwTitle {
    margin-left:8%;
    margin-top: 5%;
    color: #000000;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 27px;
}